:root {
    --color-black: #000;
    --color-white: #fff;
    --color-linenGrey: #f2f2f2;
    --color-triumphRed: #e40032;
    --color-transparent: #0000;
    --color-lightBlue: #0070ba;
    --color-ironGrey: #727272;
    --color-lightGrey: #e9e9e5;
}