/* 1400px */
@media (max-width: 1400px) {
    .slider-container {
        width: 680px;
        height: 621px;
    }
    
    .slider-controls {
        margin-top: 40px;
    }
    
    .slider-controls div {
        margin-bottom: 20px;
    }
}

/* 992px*/
@media (max-width: 992px) {
    .slider-container {
        justify-content: center;
        margin-top: 130px;
        width: 560px;
    }

    .slider-controls {
        display: none;
    }
}

/* 700px*/
@media (max-width: 700px) {
    .slider-container {
        justify-content: center;
    }
}