/* 1400px */
@media (max-width: 1400px) {
    .slider {
        margin-left: 32px;
        width: 560px;
        height: 621px;
    }
    
    .slider img {
        width: 560px;
    }
}

/* 992px*/
@media (max-width: 992px) {
    .slider {
        margin-left: 0px;
    }
}